body {
    height: 100vh;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#background {
    height: 100%;
    background-image: url("img/sample2.png");
    background-size: cover;
}


#ui-dialog-titlebar {
    background-color: lightgray;
}

#ui-dialog-close {
    color: black;
}

#ui-dialog-body {
    background-color: white;
}

#settings {
    background-color: white;
    border-bottom: 2px solid black;
    padding: 0.5% 1%;
    display: flex;
    justify-content: space-evenly;
}

#settings a {
    padding: 0 2em;
    color: darkblue;
}

#settings a:hover {

}

/*
the passages div takes up the full screen space, and takes care of font styling etc.
passages class moves within the id
*/
#passages {
    display: block;
    height: 100%;
    width: 100%;
}

/* === Passage transitions style === */
.passage {
    background-color: white;
    border: 2px solid black;
    padding: 1em;

    position: absolute;
    height: auto;
    width: auto;
    min-width: 30%;
    max-width: 60%;

    left: 10%;
    top: 10%;

    transition: opacity 1s ease;
}

.passage-out {
	opacity: 0;
}